textarea
{
   width: 95%;
   display: block;
   font-family: Consolas, "Courier New", monospace;
   font-size: 1em;
}
textarea#eval_results
{
   color: #fff;
   background-color: #444;
   border: 1px solid #000;
   width: 100%;
}
input[type="text"]
{
   font-family:Consolas;
}
div.buttons
{
   clear: both;
   margin: .5em auto 0;
}
button img
{
   margin-bottom: -3px;
}
img.hidden
{
   display: none;
}
#waiting
{
   padding: 0 .5em;
}
#output
{
   font-family: Consolas;
}